<style>
    
      form{
    padding-top:10em;
     width:600px;
     height:400px;
      }
    </style>
    
    
    <form>
    
     <label for="" class='text-dark h1 mb-3'>contact us.
    
     </label>
    
     
    
    <div class='form-group'>
    <label> sujet</label>
    <input class='form-control' type='text' placeholder="sujet" required>
    
    </div>
    <div class='form-group'>
        <label>Email</label>
        <input  class='form-control' type='text' placeholder="exemple@store.tn" required>
        
        </div>
        <div class='form-group'>
            <label>Comment</label>
            <textarea class=form-control name="" id="" cols="30" rows="5"></textarea >
            
            </div>
    
    
     <button class="btn btn-primary">Submit</button>
    </form>