<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
  <a class="navbar-brand" href="#">

    <i class="fa fa-shopping-cart text-primary  fa-2x"  aria-hidden="true"></i>
   <span class="text-primary">  Storess</span>  
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link"  routerLink='/contact'>
            <i class="fa fa-comment-o text-light fa-lg " aria-hidden="true"></i>
            
            
          Contact</a>
      </li>
      <li class="nav-item pl-3">
          <a class="nav-link" routerLink='/login' >
              <i class="fa fa-user-o text-light fa-lg" aria-hidden="true"></i>
              
            Mon Compte</a>
        </li>
        
           
          <form class="form-inline my-2 my-lg-0 m-5">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
    </ul>
    <a class="nav-link  pl-5 ml-5">
      <a class="btn">
          <i class="fa fa-cart-arrow-down fa-2x  " aria-hidden="true">
              
     
             </i>
            
            </a>
       
        
        
      Panier  <span class="badge badge-dark font-weight-bold pt-1 ">{{'id'}}</span></a>
  
  </div>
</nav>
