

<style>
.fo{
    width:100%;
    height:auto;
}

</style>
<div class="row">
    <ng-container
    *ngFor='let c of products$ | async ; let i = index'>
    <div class="col">
            
                    <div 
                    
                    class=" fo card p-5 m-5">
                    <img class="card-img-top" [src]='c.url'>
                    <div class="card-body">
                    <h4 class="card-title">{{c.model}}</h4>
                    <div class="card-text">{{c.price| currency:'USD':'symbol'}}</div>
                    <a href="" class="btn btn-primary"> Add to Cart</a>
                    </div>
                    
                    
                    
                    </div>
                </div>
            
            <div class="w-100" *ngIf='(i+1)%2===0'></div>
            
   





</ng-container>
</div>


