

<style>
       
        img {
        width:300px;
        height:300px;
      
        }
      </style>
      <ol class="breadcrumb" style="margin-top:80px;margin-bottom:10px">
            <li class="breadcrumb-item"><a routerLink='/user/computer'>Laptop</a></li>

            <li class="breadcrumb-item"><a href="#">Accessory</a></li>
          
        </ol>
      
       
    
<app-carousel> </app-carousel>


   
<style>
  div{
      margin: 0px;
      padding: 0px;
  }
  img {
  width:300px;
  height:300px;

  }
</style>

<div class="row pt-5">
<div class="col mb-3" >
  <img src="../assets/1.jpg" alt="">
</div>
<div class="col mb-3">
    <img src="../assets/2.jpg" alt="">
</div>
<div class="col mb-3">
    <img src="../assets/3.jpg" alt="">
</div>
</div>
<div class="row">
    <div class="col mb-3">
        <img src="../assets/4.jpg" alt="">
    </div>
    <div class="col mb-3">
        <img src="../assets/5.jpg" alt="">
    </div>
    <div class="col mb-3">
        <img src="../assets/6.jpg" alt="">
    </div>
  
</div>
